#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

h1 {
  color: #080707;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -550px;
  width: 100%;
  height: 100px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#searchInput {
  width: 90%;
  padding: 4px;
  align-content: center;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s;
  background-color: white;
  color: #080707;
}

#searchInput:focus {
  border-radius: #007bff;
  outline: none;
}


.dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding-bottom: 15px;
}

.dropdown:empty {
  border: dashed;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  background-color: #9a878f;
}

input {
  width: 20px;
}

.search-inner {
  width: 50px;
}

.search-box-container {
  display: horizontal-flex;
  /* display: flex; */
  /* align-items: center; */
}

.search-container {
  border: 1px solid;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 15px;
  padding-right: 5px;
  margin-top: 1%;
  width: 50%;
  height: 40px;
  align-items: center;
  /* Add some padding to the container */
}

.profilename {
  text-align: center;
  background-color: rgb(228, 223, 223);
  border-style: groove;
  border-color: blueviolet transparent;
  padding-top: 10pt;
  width: 50%;
  color: black
}

.second-container {
  text-align: left;
  margin-top: 5%;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: auto;
  padding-left: 10%;
  padding-inline: 10px;
  height: 500px;
  width: 500px;
  border: 2px solid grey;
  color: green;
}




/* Add box border to the dropdown */
.dropdown {
  border: 1px solid rgb(196, 36, 36);
}

/* Add margin to the dropdown rows for separation */
.dropdown-row {
  margin: 2px 0;
  color: white r
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.users,
.images,
.comments {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;

}

.body {
  margin: 0;
}

/******************************************** css for navbar  ***************************************************/